<div class="email">
  <h3 style="color: :#B00100;">По всіх питаннях пишіть на на email</h3>
  
  <%= mail_to 'volodimirmandyzniak@gmail.com' do %>
    <p style="text-decration: none"> volodimirmandyzniak@gmail.com </p>
  <% end %>
</div>
